{% extends 'app/base.html' %}
{% load static %}
{% block title %}change password done{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
    {% if request.user.is_authenticated %}
 <h3>Welcome {{user}}</h3>
 {% endif %}
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password Successfull</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
    <h3>Change Password Successfull</h3>
  
</div>
{% endblock main-content %}